@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 900px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  position: relative;
}

#bg-image{
  background-image: url("./assets/day.png");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: background-image 1s ease-in-out;
}

#container {
  z-index: 1;
}

#avatar {
  object-fit: cover;
}

#avatar-container {
  height: 120px;
  width: 120px;
}

#jam {
  width: 3rem;
  text-align: right;
}